@model Food.Models.OrderDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 style="color:red">Bạn Thực Sự Muốn Xóa Đơn Hàng Này</h3>
        <h5 class="card-title">Thông tin Đơn Hàng</h5>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Mã Đơn Hàng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderID)
            </dd>

            <dt>
                Têm Sản Phẩm:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                Số Lượng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                Tên Khách Hàng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                Đại Chỉ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                Số Điện Thoại:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Trạng thái:
            </dt>

            <dd>
                @if (Model.PayStatus == 0)
                {<p>Chưa Thanh Toán</p>}
                else if (Model.PayStatus == 1)
                { <p>Đã Thanh Toán</p>}
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về Trang Quản lý Đơn Hàng", "Index")
        </div>
    }
</div>
