
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    @if (ViewBag.ThongBao != null)
    {
    <script>
        alert("@Html.Raw(@ViewBag.ThongBao)")
    </script>
    }
    <section class="sign-in">
        <div class="container" style="margin-top:90px;">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/Content/Images/changepass.jpg" alt="sing up image"></figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Thay đổi mật khẩu</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-lock-open"></i><span style="color:red;">* </span></label>
                            <input type="password" name="newpass" id="your_name" placeholder="Mật khẩu mới" /><span style="color: red;">@ViewData["err1"]</span>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i><span style="color:red;">*</span></label>
                            <input type="password" name="enterpass" id="your_pass" placeholder="Xác nhận mật khẩu" /><span style="color: red;">@ViewData["err2"]</span>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Thay đổi" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/js/Register.js"></script>
    <script src="~/Content/js/mainRegister.js"></script>
</body>
</html>
