@model IEnumerable<Food.Models.Product>
@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_FoodLayoutPage1.cshtml";
}
<style>
    .breadcrumb__text {
        color: #fff;
        position: absolute;
        bottom: 20px;
        padding-left: 430px;
    }
</style>
<section class="breadcrumb-section set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="hero__search" style="margin-left:95px; margin-top: -50px;">
                    <div class="hero__search__form" style="margin-left: 236px;">
                        @using (Html.BeginForm("Find", "Food", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <input type="text" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập từ khóa tìm kiếm">
                            <button type="submit" class="site-btn">SEARCH</button>
                        }
                    </div>
                </div>
                <div class="breadcrumb__text">
                    <h2>Hưng Vũ Vegetable</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index","Food")">Trang chủ</a>
                    </div>
                </div>
                <img style="height:160px;" src="~/Content/Images/breadcrumb.jpg" />
            </div>
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục sản phẩm</h4>
                        <ul>
                            <li>@Html.Action("Category", "Food")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6>Tìm thấy <span> @Model.Count()</span> Sản Phẩm </h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <a href="@Url.Action("Detail","Food",new {id = item.ProductID })"><img src="/Content/Images/@item.Image" /></a>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="@Url.Action("ThemGioHang", "ShoppingCart", new { msp = item.ProductID, url = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
</div>
                                    <div class="product__item__text">
                                        <h6><a href="@Url.Action("Detail","Food",new {id = item.ProductID })">@item.Name</a></h6>
                                        <h5>@Html.FormatValue(@item.Price, "{0:#,##0}")VNĐ </h5>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</section>

